<h1>Add a new pet!</h1>
<form action="/users/pets" method="POST">
  <label>Name:</label>
  <input type="text" name="name" />

  <label>Age</label>
  <input type="number" name="age" />

  <label>Type:</label>
  <input type="text" name="category" />

  <label>Care Instructions</label>
  <input type="text" name="care_instructions" />

<input type="Submit" name="Create a pet!">

</form>