<h1>Add a new item!</h1>
<form action="/users/pets/<%= @pet.id %>/items" method="POST">
<label>Name: </label>
<input type="text" name="name" />

<label>Cost: </label>
<input type="number" name="cost" />

<label>Category: </label>
<input type="text" name="category">

<label>Order Date: </label>
<input type="date" name="order_date" />

<input type="submit" name="Create a new Item!">
</form>
