<<h1>Add a new item!</h1>
<form action="/users/pets/<%= @pet.id %>/items" method="POST">
<input type="number" name="cost" />
<%#cost%>
<%#order_date%>
<%#arrival_date%>
<%#complete_date%>
<%#category%>
<%# pet_id %>
</form>
